/venv
/env
__pycache__
*.DS_Store
*.sqlite3
toMigrate/
sendgrid.env
htmlcov/
.coverage
static/*

.vscode/
staticfiles/
deploy.zip
certs
.env
!.env.example
.venv

assignment_datasets

sdk_output
sdk*

_*.sh