packages:
  yum:
    gcc-c++: []
    libcurl-devel: []

commands:
  00-install:
    command: /home/ec2-user/install.sh
  00_install_mysql-devel:
    command: rpm --import https://repo.mysql.com/RPM-GPG-KEY-mysql-2022 ; yum install  mysql-devel -y
  01_install_ec2_instance_connect:
    command: sudo yum install ec2-instance-connect


container_commands:
  01_fixenum:
    command: "rm -rf /opt/python/run/venv/lib/python3.6/site-packages/enum && rm -rf /opt/python/run/venv/lib/python3.6/site-packages/enum34-1.1.10.dist-info"
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
  03_migrate:
    command: "source /var/app/venv/*/bin/activate && grep -q IS_WORKER /opt/elasticbeanstalk/deployment/env  && : || python manage.py migrate --noinput"
    leader_only: true
  04_createsu:
    command: "source /var/app/venv/*/bin/activate && python manage.py createsu"
  05_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  06_install_pycurl:
    command: "export PYCURL_SSL_LIBRARY=nss && pip install pycurl==7.43.0.2"
  07_celery_tasks:
    command: "cat .ebextensions/files/celery_configuration.txt > /tmp/run_supervised_celeryd.sh && chmod 744 /tmp/run_supervised_celeryd.sh"
  08_celery_tasks_webhooks:
    command: "cat .ebextensions/files/celery_configuration_webhooks.txt > /tmp/run_supervised_celeryd_webhooks.sh && chmod 744 /tmp/run_supervised_celeryd_webhooks.sh"
  09_celery_tasks_run:
    command: "grep -q IS_WORKER_AUTOGRADER /opt/elasticbeanstalk/deployment/env && /tmp/run_supervised_celeryd.sh || true"
    leader_only: true
  10_celery_tasks_run_webhooks:
    command: "grep -q IS_WORKER_WEBHOOKS /opt/elasticbeanstalk/deployment/env && /tmp/run_supervised_celeryd_webhooks.sh || true"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: codepost.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/run_celery.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      export PATH="$PATH:/usr/sbin/:/usr/local/bin"
      grep -q IS_WORKER_AUTOGRADER /opt/elasticbeanstalk/deployment/env && (/tmp/run_supervised_celeryd.sh || (sleep 5 && /tmp/run_supervised_celeryd.sh)) || true
      grep -q IS_WORKER_WEBHOOKS /opt/elasticbeanstalk/deployment/env && (/tmp/run_supervised_celeryd_webhooks.sh || (sleep 5 && /tmp/run_supervised_celeryd_webhooks.sh)) || true

  "/opt/elasticbeanstalk/hooks/postinit/fix_enum.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      rm -rf /opt/python/run/venv/lib/python3.6/site-packages/enum
      rm -rf /opt/python/run/venv/lib/python3.6/site-packages/enum34-1.1.10.dist-info

  "/home/ec2-user/install.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      yum install -y https://dev.mysql.com/get/mysql80-community-release-el7-3.noarch.rpm
      if [ $? -eq 1 ]
      then
      exit 0
      fi
      yum install -y mysql-community-client
      if [ $? -eq 1 ]
      then
      exit 0
      fi
      yum install -y mysql-community-server
      if [ $? -eq 1 ]
      then
      exit 0
      fi
      yum install -y mysql-devel
      if [ $? -eq 1 ]
      then
      exit 0
      fi
      exit 0
