<!-- Copyright © 2026 Rutgers, the State University of New Jersey. All rights reserved except as defined by the Rurtgers Non-Commercial Licensed, included with this software. -->
{% extends "emails/basic_template.html" %}
{% block content %}
    <div class="p-6">
        <h1 class="text-2xl font-bold mb-4">Grader Regrade Reminder</h1>
        <p class="text-gray-700 mb-4">This is a reminder to regrade the following assignment:</p>
        <ul class="list-disc pl-5">
            <li>
                <strong>{{ assignment.name }}</strong>
            </li>
        </ul>
        <p class="text-gray-700 mb-4">To open the assignment please click the following</p>
        <p class="mb-4">
            <a href="{{ client_url }}/grader/{{ assignment.course.name }}/{{ assignment.course.period }}/"
               class="btn">View Assignment</a>
        </p>
    </div>
{% endblock content %}
