<!-- Copyright © 2026 Rutgers, the State University of New Jersey. All rights reserved except as defined by the Rutgers Non-Commercial License, included with this software. -->
{% autoescape off %}

Hi there,

We just received an account creation request for your email address.

You haven't yet been added to any courses on codePost. Please contact your course staff, who can add you to the appropriate course roster.

After they do that, you'll receive an email with instructions explaining how to create an account.

xo,
The codePost Team
{% endautoescape %}