<!-- Copyright © 2026 Rutgers, the State University of New Jersey. All rights reserved except as defined by the Rutgers Non-Commercial License, included with this software. -->
{% autoescape off %}

Hi there,

A request was made to create a new codePost account using this email address - but you already have a codePost account!

Use this link to login: http://localhost:3000/login

Use this link to reset your password: http://localhost:3000/forgot-password

If you didn't initiate this request, there's nothing you need to do.

xo,
The codePost Team
{% endautoescape %}