<!-- Copyright © 2026 Rutgers, the State University of New Jersey. All rights reserved except as defined by the Rurtgers Non-Commercial Licensed, included with this software. -->
{% autoescape off %}

Hey codePost team,

A new user is requesting to create an account with course creation privileges. Here is their information:

email: {{email}}
organization: {{organization}}

Use this link to approve the request: http://localhost:3000/password-reset/{{uid}}/{{token}}
Use this link to deny the request: http://localhost:3000/password-reset/{{uid}}/{{token}}

{% endautoescape %}