{% extends "emails/basic_template.html" %}
{% block content %}
    <div class="p-6">
        <h1 class="text-2xl font-bold mb-4">
            Your assignment <strong>{{ submission.assignment.name }}</strong> for <strong>{{ submission.assignment.course.name }}</strong> - <strong>{{ submission.assignment.course.period }}</strong> has been finalized.
        </h1>
        <p class="mb-4">You can view your feedback and grade on the assignment by clicking the button below.</p>
        <p class="mb-4">
            <a href="{{ client_url }}/code/{{ submission.id }}/" class="btn">View Feedback</a>
        </p>
    </div>
{% endblock content %}
