<!-- Copyright © 2026 Rutgers, the State University of New Jersey. All rights reserved except as defined by the Rutgers Non-Commercial License, included with this software. -->
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>codePost API Docs</title>
  <!-- Embed elements Web Component -->
  <script src="https://unpkg.com/@stoplight/elements/web-components.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/@stoplight/elements/styles.min.css">
  <style>
    :root {
      /* Branded Colors */
      --sl-color-primary: #24be85;
      --sl-color-secondary: #0eff;
      /* Accent */

      /* Sidebar branding (optional dark mode feel) */
      --sl-color-bg-sidebar: #1b1b1b;
      --sl-color-text-sidebar: #ffffff;
    }

    elements-api {
      height: 100vh;
      display: block;
    }
  </style>
</head>

<body>
  <elements-api apiDescriptionUrl="/api/schema/" router="hash" layout="sidebar" />
</body>

</html>