{% extends "emails/base_template.html" %} {% block content %}
<h2 class="text-2xl font-semibold mb-4">Welcome {{ user.username }}, thank you for signing up for CodePost!</h2>

{% if user.is_active %}
<p class="mb-4">
    You can now access your account at <a href="{{ client_url }}/login" class="text-blue-500 hover:underline">{{ client_url }}/login</a>.
</p>
{% else %}
<p class="mb-4">
    You can now access your account at <a href="{{ client_url }}/login" class="text-blue-500 hover:underline">{{ client_url }}/login</a>. However, you
    need to activate your account first.
</p>
<p class="mb-4">Please click the link below to reset your password:</p>
<p class="mb-4">
    <a href="{{client_url}}/reset-password/{{uid}}/{{token}}" class="text-blue-500 hover:underline">Reset your password</a>
</p>
{% endif %} {% endblock %}
