{% extends "emails/base_template.html" %}
{% block content %}
    <h2 class="text-2xl font-semibold mb-4">
        Welcome {{ user.username }}, You have been added to {{ course_name }} - {{ course_period }} as
        {% if role == 'student' %}
            a student!
        {% elif role == 'grader' %}
            a grader!
        {% else %}
            an admin!
        {% endif %}
    </h2>
    {% if user.is_active %}
        <p class="mb-4">You can now access your course below</p>
        <p class="mb-4">
            <a href="{{ client_url }}/{{ role }}/{{ course_name }}/{{ course_name }}"
               class="btn">View Course</a>
        </p>
    {% else %}
        <p class="mb-4">You can now access your course below</p>
        <p class="mb-4">
            <a href="{{ client_url }}/{{ role }}/{{ course_name }}/{{ course_name }}"
               class="btn">View Course</a>
        </p>
        <p class="mb-4">However, your account is not yet activated.</p>
        <p class="mb-4">Please click the link below to activate your account:</p>
        <p class="mb-4">
            <a href="{{ client_url }}/activate/{{ uid }}/{{ token }}" class="btn">Activate your account</a>
        </p>
    {% endif %}
{% endblock content %}
