{% extends "emails/base_template.html" %}
{% block content %}
    <h2 class="text-2xl font-semibold mb-4">Hey {{ user.username }},</h2>
    <p>
        A password reset request has been received for your account. If you did not make this request, please ignore this email.
    </p>
    {% if not user.is_active %}
        <p>
            Your account is currently inactive. Please activate it by
            <a href="{{ client_url }}/activate/{{ uid }}/{{ token }}" class="btn">clicking here</a>.
        </p>
    {% else %}
        <p>To reset your password, click the link below:</p>
        <p class="mb-4">
            <a href="{{ client_url }}/password-reset/{{ uid }}/{{ token }}"
               class="btn">Reset Password</a>
        </p>
    {% endif %}
{% endblock content %}
